{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <h1>My Recipes</h1>
        {% if recipes %}
            {% for recipe in recipes %}

            <div class="items-container">
            <div class="item">
                <h2>{{ recipes.title }}</h2>
                <img class="detail-img" src="{{ recipe.image_url }}" alt="recipe-image">
                <div class="recipe-info">
                    {{ recipes.description }}
                </div>
                <div class="buttons-container">
                    <a class="button detail" href="{% url 'details_recipe' id=recipe.pk %}">Details</a>
                    <a class="button edit" href="{% url 'edit-recipe' id=recipe.pk %}">Edit</a>
                    <a class="button delete" href="{% url 'delete-recipe' id=recipe.pk %}">Delete</a>
                </div>
            </div>

            {% endfor %}
        {% else %}
            <h2>There are no recipes.</h2>
        {% endif %}

        </div>
    </div>

{% endblock %}
